{% extends 'base.html' %}



{% block container-fluid %}
    <div class="container-fluid">
        <div class="form-head d-flex mb-2 mb-sm-3 mb-lg-5 align-items-center">
            <div class="mr-auto d-none d-lg-block">
                <h2 class="text-black font-w600">{{ evaluation_table.title }}</h2>
                <div>
                    <a href="/" class="fs-18 text-primary font-w600">问卷列表 / </a>
                    <a href="javascript:void(0);" class="fs-18">添加新问卷</a>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xl-9 col-xxl-8 col-lg-8">
                <div class="row">
                    <div class="col-xl-12">
                        {% for content in evaluation_table.evaluation_contents.all %}
                            <div class="card">
                            <div class="card-header pb-0 border-0">
                                <div class="row" style="width: 100%">
                                    <div class="col-md-6">
                                        <h3 class="fs-20 text-black">{{ content.title }}</h3>
                                    </div>
                                    <div class="col-md-6" style="padding-right: 0">
                                        <button type="button" class="btn btn-primary btn-xs pull-right">添加分部门内容</button>
                                    </div>
                                </div>

                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-3">
                                        <div class="nav flex-column nav-pills mb-3">
                                            {% for sections in content.sections.all %}
                                                <a href="#section{{ sections.id }}" data-toggle="pill" class="nav-link show {% if forloop.counter == 1 %}active{% endif %}">{{ sections.title }}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-xl-9">
                                        <div class="tab-content">
                                            {% for sections in content.sections.all %}
                                                <div id="section{{ sections.id }}" class="tab-pane fade {% if forloop.counter == 1 %}active show{% endif %}">
                                                {% for items in sections.items.all %}
                                                    <p style="margin-left: 100px">{{ forloop.counter }}, ({{ items.title }}) {{ items.content }}</p>
                                                    {% for chooses in items.chooses.all %}
                                                        <p style="margin-left: 130px">{{ chooses }}（{{ chooses.score }}分）</p>
                                                    {% endfor %}
                                                {% endfor %}
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        {% endfor %}

                    </div>
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body pb-0">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="form-group col-xl-12 p-0">
                                            <label class="text-black font-w500 mb-3">起始时间</label>
                                            <input type="date" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="form-group col-xl-12 p-0">
                                            <label class="text-black font-w500 mb-3">结束时间</label>
                                            <input type="date" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-xxl-4 col-lg-4">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header border-0 pb-0">
                                <h3 class="text-black fs-20">Images</h3>
                                <a class="btn btn-link fs-18 pr-0" href="javascript:void(0);">+Upload</a>
                            </div>
                            <div class="card-body">
                                <div class="bgl-primary p-3 text-black rounded">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header border-0 pb-0">
                                <h3 class="text-black fs-20">Social Media Stream</h3>
                                <a class="btn btn-link text-dark fs-18 pr-0" href="javascript:void(0);">Clear</a>
                            </div>
                            <div class="card-body">
                                <div class="d-flex mb-3 align-items-center justify-content-between">
                                    <div class="d-flex">
                                        <div class="custom-control custom-checkbox mr-2">
                                            <input type="checkbox" class="custom-control-input" id="customCheckBox7"
                                                   required="">
                                            <label class="custom-control-label" for="customCheckBox7"></label>
                                        </div>
                                        <span class="text-black font-w600">Instagram</span>
                                    </div>
                                    <i class="lab la-instagram social-icon bg-secondary text-white"></i>
                                </div>
                                <div class="d-flex mb-3 align-items-center justify-content-between">
                                    <div class="d-flex">
                                        <div class="custom-control custom-checkbox mr-2">
                                            <input type="checkbox" class="custom-control-input" id="customCheckBox71"
                                                   required="">
                                            <label class="custom-control-label" for="customCheckBox71"></label>
                                        </div>
                                        <span class="text-black font-w600">Facebook</span>
                                    </div>
                                    <i class="lab la-facebook-f social-icon bg-info text-white"></i>
                                </div>
                                <div class="d-flex mb-3 align-items-center justify-content-between">
                                    <div class="d-flex">
                                        <div class="custom-control custom-checkbox mr-2">
                                            <input type="checkbox" class="custom-control-input" id="customCheckBox72"
                                                   required="">
                                            <label class="custom-control-label" for="customCheckBox72"></label>
                                        </div>
                                        <span class="text-black font-w600">Twitter</span>
                                    </div>
                                    <i class="lab la-twitter social-icon bg-success text-white"></i>
                                </div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex">
                                        <div class="custom-control custom-checkbox mr-2">
                                            <input type="checkbox" class="custom-control-input" id="customCheckBox73"
                                                   required="">
                                            <label class="custom-control-label" for="customCheckBox73"></label>
                                        </div>
                                        <span class="text-black font-w600">Youtube</span>
                                    </div>
                                    <i class="lab la-youtube social-icon bg-danger text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}